.app {
  width: 100%;
  background-color: $color-background;
}

.app__container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__main {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 48px);
  padding: 72px 24px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    padding: 72px 24px 0 24px;
  }

  @media (max-width: 576px) {
    padding: 60px 24px 0 24px;
  }

  @media (max-width: 360px) {
    padding: 60px 16px 0 16px;
  }
}