.not-found {
  position: relative;
  display: flex;
  flex-direction: column;
}
.not-found__heading {
  position: relative;
  top: 0;
  left: -8px;
  margin: 20vh 0 8px 0;
  font-weight: 900;
  font-size: 248px;
  line-height: 100%;
  color: $gray-darkest;
}

.not-found__paragraph {
  font-weight: 600;
  font-size: 18px;
  color: $gray-darker;

  span {
    color: $color-accent;
  }
}

.not-found__link {
  position: relative;
  left: -20px;
  width: max-content;
  margin: 48px 12px 0 auto;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  text-align: end;
  color: $color-main;
  transition: linear 0.2s;

  span {
    position: relative;
    top: 1px;
    margin: 0 2px 0 0;
    font-weight: 700;
    font-size: 24px;
  }

  &:hover {
    color: $color-accent;
  }
}