// ПЕРЕМЕННЫЕ

$whitest:           #ffffff; // максимально белый, если потребуется
$white:             #fafafa; // "рабочий" белый, более приятный глазу
$gray-lightest:     #dcdcdc;
$gray-lighter:      #bebebe;
$gray-light:        #a0a0a0;
$gray:              #828282;
$gray-dark:         #646464;
$gray-darker:       #464646;
$gray-darkest:      #282828;
$black:             #0f0f0f; // "рабочий" чёрный, более приятный глазу
$blackest:          #000000; // максимально чёрный, если потребуется

$color-main:        #0d6573;
$color-second:      #e8c413;
$color-accent:      #a34061;
$color-background:  #add8e6;