@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
  overflow-y: scroll;
  color: #282828;
}

.app {
  width: 100%;
  background-color: #add8e6;
}

.app__container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 48px);
  padding: 72px 24px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .app__main {
    padding: 72px 24px 0 24px;
  }
}

@media (max-width: 576px) {
  .app__main {
    padding: 60px 24px 0 24px;
  }
}

@media (max-width: 360px) {
  .app__main {
    padding: 60px 16px 0 16px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d6573;
}

.header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  height: 72px;
  padding: 0 24px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .header__container {
    height: 60px;
  }
}

@media (max-width: 360px) {
  .header__container {
    padding: 0 16px 0 16px;
  }
}

.header__logo {
  padding: 0 0 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 480px) {
  .header__logo {
    padding: 0 0 0 6px;
  }
}

@media (max-width: 360px) {
  .header__logo {
    padding: 0 0 0 4px;
  }
}

.header__logo-top {
  margin: 0 0 4px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  color: #fafafa;
}

.header__logo-top span {
  margin: 0 2px 0 0;
  color: #e8c413;
}

@media (max-width: 576px) {
  .header__logo-top {
    margin: 0 0 2px 0;
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .header__logo-top {
    margin: 0 0 0 0;
    font-size: 20px;
  }
}

.header__logo-bottom {
  margin: 0 0 0 2px;
  font-weight: 200;
  font-size: 12px;
  line-height: 100%;
  color: #dcdcdc;
  text-transform: lowercase;
}

@media (max-width: 576px) {
  .header__logo-bottom {
    font-size: 10px;
    letter-spacing: 0.3px;
  }
}

@media (max-width: 480px) {
  .header__logo-bottom {
    display: none;
  }
}

.header__chains {
  width: calc((100% - 36px) / 4);
  position: relative;
  z-index: 20;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 992px) {
  .header__chains {
    width: calc((100% - 24px) / 3);
  }
}

@media (max-width: 768px) {
  .header__chains {
    width: calc((100% - 16px) / 2);
  }
}

@media (max-width: 576px) {
  .header__chains {
    width: calc((100% - 32px) / 3);
  }
}

@media (max-width: 480px) {
  .header__chains {
    width: calc((100% - 16px) / 2);
  }
}

.header__chain-switcher {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #e8c413;
  border-radius: 4px;
  cursor: pointer;
  background-color: #0d6573;
}

@media (max-width: 576px) {
  .header__chain-switcher {
    height: 32px;
  }
}

.header__current-chain {
  width: calc(100% - 34px);
  margin: 0 12px 0 12px;
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 576px) {
  .header__current-chain {
    width: calc(100% - 28px);
    margin: 0 8px 0 8px;
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .header__current-chain {
    font-size: 12px;
  }
}

.header__switcher {
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #e8c413;
  border-radius: 2px;
  background-color: #e8c413;
}

@media (max-width: 576px) {
  .header__switcher {
    width: 28px;
    height: 28px;
  }
}

.header__switcher-arrow {
  position: relative;
  top: -2px;
  width: 12px;
  height: 12px;
  border-top: 4px solid #0d6573;
  border-left: 4px solid #0d6573;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.header__switcher-arrow_up {
  top: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 576px) {
  .header__switcher-arrow {
    width: 8px;
    height: 8px;
  }
  .header__switcher-arrow_up {
    top: 2px;
  }
}

.header__chain-list {
  position: fixed;
  top: 88px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  max-width: 1170px;
  padding: 60px 36px 60px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  background-color: #e8c413;
}

.header__chain-list_hidden {
  display: none;
}

@media (max-width: 1200px) {
  .header__chain-list {
    max-width: calc(100% - 24px - 24px);
    padding: 40px 32px 40px 32px;
  }
}

@media (max-width: 992px) {
  .header__chain-list {
    padding: 28px 20px 28px 20px;
  }
}

@media (max-width: 768px) {
  .header__chain-list {
    padding: 12px 12px 12px 12px;
  }
}

@media (max-width: 576px) {
  .header__chain-list {
    top: 68px;
  }
}

@media (max-width: 480px) {
  .header__chain-list {
    top: 60px;
    max-width: 100%;
    padding: 12px 24px 24px 24px;
    border-radius: 0 0 8px 8px;
  }
}

@media (max-width: 360px) {
  .header__chain-list {
    padding: 12px 16px 16px 16px;
  }
}

.header__chain-list-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 24px;
}

@media (max-width: 1200px) {
  .header__chain-list-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 20px;
  }
}

@media (max-width: 992px) {
  .header__chain-list-container {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

@media (max-width: 768px) {
  .header__chain-list-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .header__chain-list-container {
    grid-row-gap: 10px;
  }
}

@media (max-width: 480px) {
  .header__chain-list-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.header__chain {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 8px 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid rgba(15, 15, 15, 0.2);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #282828;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.header__chain_selected {
  color: #a34061;
  border: 2px solid rgba(163, 64, 97, 0.5);
}

.header__chain:hover {
  color: #a34061;
  border: 2px solid rgba(163, 64, 97, 0.5);
}

.header__chain span {
  margin: 2px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  color: #646464;
}

@media (max-width: 992px) {
  .header__chain {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .header__chain {
    padding: 4px 4px 4px 4px;
    font-size: 12px;
  }
  .header__chain span {
    font-size: 10px;
  }
}

.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__overlay_hidden {
  display: none;
  visibility: none;
}

.footer {
  width: 100%;
  margin: auto 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282828;
}

.footer__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  min-height: 48px;
  padding: 0 24px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .footer__container {
    min-height: 72px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 576px) {
  .footer__container {
    min-height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .footer__container {
    padding: 20px 0 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 360px) {
  .footer__container {
    padding: 20px 0 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__info {
  font-weight: 200;
  font-size: 14px;
  line-height: 140%;
  color: #a0a0a0;
}

.footer__info a {
  color: #e8c413;
  text-decoration: none;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.footer__info a:hover {
  color: #fafafa;
}

@media (max-width: 992px) {
  .footer__info {
    max-width: 140px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer__info {
    max-width: 120px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer__info {
    max-width: none;
    font-size: 14px;
  }
  .footer__info:not(:last-child) {
    margin: 0 0 8px 0;
  }
}

@media (max-width: 360px) {
  .footer__info {
    font-size: 12px;
  }
  .footer__info:not(:last-child) {
    margin: 0 0 6px 0;
  }
}

.homepage {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 40px 8px 80px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .homepage {
    padding: 40px 8px 60px 8px;
  }
}

@media (max-width: 576px) {
  .homepage {
    padding: 24px 4px 48px 4px;
  }
}

@media (max-width: 480px) {
  .homepage {
    padding: 24px 4px 32px 4px;
  }
}

@media (max-width: 360px) {
  .homepage {
    padding: 16px 4px 24px 4px;
  }
}

.homepage__heading {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 32px;
  color: #464646;
}

@media (max-width: 576px) {
  .homepage__heading {
    margin: 0 0 8px 0;
    font-size: 24px;
  }
}

.homepage__paragraph {
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
}

@media (max-width: 576px) {
  .homepage__paragraph {
    margin: 0 0 12px 0;
    font-size: 14px;
  }
}

.homepage__bold {
  font-weight: 600;
  color: #464646;
}

.homepage__link {
  font-weight: 500;
  font-size: 16px;
  color: #0d6573;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.homepage__link:hover {
  color: #a34061;
}

@media (max-width: 576px) {
  .homepage__link {
    font-size: 14px;
  }
}

.homepage__list-element {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 8px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
}

@media (max-width: 576px) {
  .homepage__list-element {
    margin: 0 0 8px 20px;
    font-size: 14px;
  }
}

.homepage__error {
  font-weight: 400;
  font-size: 16px;
  color: #a34061;
}

@media (max-width: 576px) {
  .homepage__error {
    font-size: 14px;
  }
}

.homepage__divider {
  width: 100%;
  margin: 20px 0 28px 0;
  border-top: 1px dashed #828282;
}

@media (max-width: 480px) {
  .homepage__divider {
    margin: 16px 0 24px 0;
  }
}

.not-found {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.not-found__heading {
  position: relative;
  top: 0;
  left: -8px;
  margin: 20vh 0 8px 0;
  font-weight: 900;
  font-size: 248px;
  line-height: 100%;
  color: #282828;
}

.not-found__paragraph {
  font-weight: 600;
  font-size: 18px;
  color: #464646;
}

.not-found__paragraph span {
  color: #a34061;
}

.not-found__link {
  position: relative;
  left: -20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 48px 12px 0 auto;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  text-align: end;
  color: #0d6573;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.not-found__link span {
  position: relative;
  top: 1px;
  margin: 0 2px 0 0;
  font-weight: 700;
  font-size: 24px;
}

.not-found__link:hover {
  color: #a34061;
}

.chain {
  width: 100%;
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .chain {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 992px) {
  .chain {
    padding: 24px 0 0 0;
  }
}

@media (max-width: 360px) {
  .chain {
    padding: 16px 0 0 0;
  }
}

.chain__plates {
  width: 100%;
  margin: 0 0 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 12px;
}

.chain__plates_hidden {
  display: none;
}

@media (max-width: 992px) {
  .chain__plates {
    margin: 0 0 48px 0;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 768px) {
  .chain__plates {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
}

@media (max-width: 576px) {
  .chain__plates {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .chain__plates {
    margin: 0 0 80px 0;
    grid-auto-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.chain__plates::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.chain__plates > *:first-child {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.chain__plate {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  background-color: #fafafa;
}

@media (max-width: 480px) {
  .chain__plate {
    min-height: 120px;
    padding: 20px;
  }
}

@media (max-width: 360px) {
  .chain__plate {
    min-height: 100px;
    padding: 16px;
  }
}

.chain__heading {
  font-weight: 700;
  font-size: 28px;
  color: #464646;
}

@media (max-width: 360px) {
  .chain__heading {
    font-size: 24px;
  }
}

.chain__subheading {
  font-weight: 400;
  font-size: 14px;
  color: #646464;
}

@media (max-width: 480px) {
  .chain__subheading {
    margin: 0 0 20px 0;
  }
}

.chain__description {
  margin: auto 0 0 0;
  font-weight: 400;
  font-size: 16px;
  color: #464646;
}

@media (max-width: 480px) {
  .chain__description {
    margin: auto 0 0 0;
  }
}

.chain__plate-heading {
  font-weight: 400;
  font-size: 14px;
  color: #646464;
}

.chain__plate-error {
  margin: auto 0 0 auto;
  padding: 12px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  text-align: end;
  color: #a34061;
}

.chain__plate-error span {
  font-weight: 600;
}

.chain__plate-tokens {
  margin: auto 0 0 auto;
  font-weight: 400;
  font-size: 16px;
  color: #464646;
}

.chain__plate-tokens span {
  margin: 0 0 0 4px;
  font-weight: 400;
  font-size: 12px;
  color: #646464;
}

.chain__plate-data {
  margin: auto 0 0 auto;
  font-weight: 400;
  font-size: 16px;
  color: #464646;
}

.chain__plate-link {
  margin: auto 0 0 auto;
  font-weight: 600;
  font-size: 16px;
  color: #0d6573;
  text-decoration: none;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.chain__plate-link:hover {
  color: #a34061;
}

.chain__plate-logo {
  width: 100%;
  height: 100%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
  .chain__plate-logo {
    background-size: contain;
  }
}

#description-plate {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

@media (max-width: 480px) {
  #description-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

#validators-plate {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

@media (max-width: 992px) {
  #validators-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 768px) {
  #validators-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media (max-width: 576px) {
  #validators-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 480px) {
  #validators-plate {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
  }
}

#proposals-plate {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media (max-width: 992px) {
  #proposals-plate {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / 7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media (max-width: 768px) {
  #proposals-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media (max-width: 576px) {
  #proposals-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media (max-width: 480px) {
  #proposals-plate {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
  }
}

#community-plate {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media (max-width: 992px) {
  #community-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media (max-width: 768px) {
  #community-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media (max-width: 576px) {
  #community-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media (max-width: 480px) {
  #community-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

#bonded-plate {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

@media (max-width: 992px) {
  #bonded-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media (max-width: 768px) {
  #bonded-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 576px) {
  #bonded-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
}

@media (max-width: 480px) {
  #bonded-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
}

#logo-plate {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media (max-width: 992px) {
  #logo-plate {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media (max-width: 768px) {
  #logo-plate {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media (max-width: 576px) {
  #logo-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media (max-width: 480px) {
  #logo-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

#block-plate {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

@media (max-width: 992px) {
  #block-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 768px) {
  #block-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 576px) {
  #block-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 480px) {
  #block-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

#inflation-plate {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media (max-width: 992px) {
  #inflation-plate {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media (max-width: 768px) {
  #inflation-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media (max-width: 576px) {
  #inflation-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media (max-width: 480px) {
  #inflation-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
  }
}

#unbonding-plate {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media (max-width: 992px) {
  #unbonding-plate {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media (max-width: 768px) {
  #unbonding-plate {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media (max-width: 576px) {
  #unbonding-plate {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 480px) {
  #unbonding-plate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
  }
}

#price-plate {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

@media (max-width: 992px) {
  #price-plate {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 768px) {
  #price-plate {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media (max-width: 576px) {
  #price-plate {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
}

@media (max-width: 480px) {
  #price-plate {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.validators {
  position: relative;
  width: 100%;
}

.validators__navigation {
  width: 100%;
  margin: 0 0 12px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-gap: 12px;
}

@media (max-width: 992px) {
  .validators__navigation {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 768px) {
  .validators__navigation {
    margin: 0 0 16px 0;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
  }
}

@media (max-width: 576px) {
  .validators__navigation {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 480px) {
  .validators__navigation {
    margin: 0 0 12px 0;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
  }
}

.validators__switcher {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 40px;
}

@media (max-width: 992px) {
  .validators__switcher {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 768px) {
  .validators__switcher {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    min-height: 36px;
  }
}

@media (max-width: 576px) {
  .validators__switcher {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 480px) {
  .validators__switcher {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.validators__switcher-button {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #add8e6;
  background-color: rgba(13, 101, 115, 0.4);
  outline: none;
  cursor: pointer;
}

.validators__switcher-button:first-child {
  border-radius: 8px 0 0 8px;
}

.validators__switcher-button:last-child {
  border-radius: 0 8px 8px 0;
}

.validators__switcher-button_selected {
  color: #fafafa;
  background-color: rgba(13, 101, 115, 0.6);
}

@media (max-width: 768px) {
  .validators__switcher-button {
    font-size: 14px;
  }
}

.validators__find {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 992px) {
  .validators__find {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
}

@media (max-width: 768px) {
  .validators__find {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
  }
}

@media (max-width: 576px) {
  .validators__find {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
}

@media (max-width: 480px) {
  .validators__find {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.validators__find-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75%;
  min-height: 40px;
  padding: 0 12px 0 12px;
  border: 2px solid rgba(13, 101, 115, 0.6);
  border-right: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  text-align: center;
}

.validators__find-input::-webkit-input-placeholder {
  font-weight: 300;
  color: #a0a0a0;
}

.validators__find-input:-ms-input-placeholder {
  font-weight: 300;
  color: #a0a0a0;
}

.validators__find-input::-ms-input-placeholder {
  font-weight: 300;
  color: #a0a0a0;
}

.validators__find-input::placeholder {
  font-weight: 300;
  color: #a0a0a0;
}

@media (max-width: 992px) {
  .validators__find-input {
    width: 67%;
  }
}

@media (max-width: 768px) {
  .validators__find-input {
    width: 75%;
    min-height: 36px;
  }
  .validators__find-input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .validators__find-input:-ms-input-placeholder {
    font-size: 14px;
  }
  .validators__find-input::-ms-input-placeholder {
    font-size: 14px;
  }
  .validators__find-input::placeholder {
    font-size: 14px;
  }
}

.validators__find-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  min-height: 40px;
  border: none;
  border-radius: 0 8px 8px 0;
  outline: none;
  background-color: rgba(13, 101, 115, 0.6);
  font-weight: 600;
  font-size: 16px;
  color: #fafafa;
  cursor: pointer;
}

@media (max-width: 992px) {
  .validators__find-button {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .validators__find-button {
    width: 25%;
    min-height: 36px;
    font-size: 14px;
  }
}

.validators__table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.validators__rows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.validators__scroll-buttons {
  position: fixed;
  bottom: 60px;
  right: calc(((100% - 1152px) / 2) - 52px);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1400px) {
  .validators__scroll-buttons {
    right: calc(((100% - 1152px) / 2) + 12px);
  }
}

@media (max-width: 1200px) {
  .validators__scroll-buttons {
    right: calc(24px + 12px);
  }
}

@media (max-width: 992px) {
  .validators__scroll-buttons {
    bottom: 52px;
  }
}

@media (max-width: 576px) {
  .validators__scroll-buttons {
    bottom: 48px;
  }
}

@media (max-width: 480px) {
  .validators__scroll-buttons {
    bottom: 24px;
  }
}

@media (max-width: 360px) {
  .validators__scroll-buttons {
    right: calc(16px + 12px);
  }
}

.validators__scroll-button {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(13, 101, 115, 0.5);
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  cursor: pointer;
}

.validators__scroll-button:first-child {
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid #add8e6;
}

.validators__scroll-button:last-child {
  border-radius: 0 0 8px 8px;
}

.validators__scroll-button:hover {
  background-color: rgba(13, 101, 115, 0.6);
}

.validators__top-arrow {
  position: relative;
  top: 2px;
  width: 8px;
  height: 8px;
  border-top: 4px solid #add8e6;
  border-left: 4px solid #add8e6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.validators__bottom-arrow {
  position: relative;
  top: -2px;
  width: 8px;
  height: 8px;
  border-top: 4px solid #add8e6;
  border-left: 4px solid #add8e6;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.table-header {
  width: 100%;
  min-height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  background-color: rgba(13, 101, 115, 0.6);
  border-radius: 8px 8px 0 0;
}

@media (max-width: 992px) {
  .table-header {
    min-height: 56px;
  }
}

@media (max-width: 480px) {
  .table-header {
    min-height: 50px;
  }
}

.table-header__cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#th-validator {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 576px) {
  #th-validator {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media (max-width: 480px) {
  #th-validator {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

#th-power {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 576px) {
  #th-power {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
  }
}

@media (max-width: 480px) {
  #th-power {
    display: none;
  }
}

#th-commission {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 576px) {
  #th-commission {
    display: none;
  }
}

.table-header__sort-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#srt-validator {
  margin: 0 0 0 32px;
}

@media (max-width: 768px) {
  #srt-validator {
    margin: 0 0 0 24px;
  }
}

#srt-power {
  margin: 0 34px 0 0px;
}

@media (max-width: 768px) {
  #srt-power {
    margin: 0 26px 0 0px;
  }
}

#srt-commission {
  margin: 0 32px 0 0;
}

@media (max-width: 768px) {
  #srt-commission {
    margin: 0 24px 0 0;
  }
}

.table-header__sort-icon {
  position: relative;
  width: 8px;
  height: 8px;
  margin: 0 6px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-header__sort-icon span {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.table-header__sort-icon span:first-child {
  top: -1px;
  border-left: 2px solid #add8e6;
  border-top: 2px solid #add8e6;
}

.table-header__sort-icon span:last-child {
  bottom: -1px;
  border-right: 2px solid #add8e6;
  border-bottom: 2px solid #add8e6;
}

.table-header__sort-icon_asc span:first-child {
  border-left: 2px solid #0d6573;
  border-top: 2px solid #0d6573;
}

.table-header__sort-icon_asc span:last-child {
  border-right: 2px solid #e8c413;
  border-bottom: 2px solid #e8c413;
}

.table-header__sort-icon_dsc span:first-child {
  border-left: 2px solid #e8c413;
  border-top: 2px solid #e8c413;
}

.table-header__sort-icon_dsc span:last-child {
  border-right: 2px solid #0d6573;
  border-bottom: 2px solid #0d6573;
}

.table-header__column-name {
  font-weight: 600;
  font-size: 16px;
  color: #add8e6;
}

@media (max-width: 992px) {
  .table-header__column-name {
    font-size: 14px;
  }
}

.table-row {
  width: 100%;
  min-height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 12px;
  background-color: #fafafa;
}

.table-row:not(:last-child) {
  border-bottom: 2px solid rgba(220, 220, 220, 0.7);
}

.table-row:last-child {
  border-radius: 0 0 8px 8px;
}

@media (max-width: 992px) {
  .table-row {
    min-height: 54px;
  }
}

@media (max-width: 480px) {
  .table-row {
    min-height: 50px;
  }
}

.table-row__cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 12px 8px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-row__cell:not(:last-child) {
  border-right: 1px solid #add8e6;
}

.table-row__cell_right {
  padding: 8px 32px 8px 12px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.table-row__validator {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 0 8px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .table-row__validator {
    padding: 8px 4px 8px 24px;
  }
}

@media (max-width: 576px) {
  .table-row__validator {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media (max-width: 480px) {
  .table-row__validator {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

.table-row__avatar {
  width: 40px;
  height: 40px;
  margin: 0 12px 0 0;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .table-row__avatar {
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0;
  }
}

@media (max-width: 480px) {
  .table-row__avatar {
    width: 34px;
    height: 34px;
    margin: 0 10px 0 0;
  }
}

.table-row__info {
  width: calc(100% - 40px - 12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-row__main-info {
  width: 100%;
  margin: 0 0 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 480px) {
  .table-row__main-info {
    margin: 0 0 2px 0;
  }
}

.table-row__rank {
  margin: 0 6px 0 0;
  font-size: 14px;
  color: #828282;
}

@media (max-width: 992px) {
  .table-row__rank {
    margin: 0 4px 0 0;
    font-size: 12px;
  }
}

.table-row__moniker {
  max-width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: #0d6573;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.table-row__moniker:hover {
  color: #a34061;
}

@media (max-width: 992px) {
  .table-row__moniker {
    font-size: 12px;
  }
}

.table-row__statuses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .table-row__statuses {
    display: none;
  }
}

.table-row__activity {
  padding: 4px 6px 4px 6px;
  margin: 0 6px 0 0;
  font-size: 12px;
  line-height: 100%;
  color: rgba(13, 101, 115, 0.7);
  background-color: rgba(173, 216, 230, 0.4);
  border-radius: 2px;
}

.table-row__activity_inactive {
  color: #a0a0a0;
  background-color: #dcdcdc;
}

@media (max-width: 992px) {
  .table-row__activity {
    padding: 2px 4px 2px 4px;
    margin: 0 4px 0 0;
    font-size: 10px;
  }
}

.table-row__bond {
  padding: 4px 6px 4px 6px;
  margin: 0 6px 0 0;
  font-size: 12px;
  line-height: 100%;
  color: rgba(13, 101, 115, 0.7);
  background-color: rgba(173, 216, 230, 0.4);
  border-radius: 2px;
}

.table-row__bond_unbonded {
  color: #a0a0a0;
  background-color: #dcdcdc;
}

.table-row__bond_unbonding {
  color: #a19108;
  background-color: rgba(232, 196, 19, 0.3);
}

@media (max-width: 992px) {
  .table-row__bond {
    padding: 2px 4px 2px 4px;
    margin: 0 4px 0 0;
    font-size: 10px;
  }
}

.table-row__jail {
  padding: 4px 6px 4px 6px;
  margin: 0 6px 0 0;
  font-size: 12px;
  line-height: 100%;
  color: rgba(163, 64, 97, 0.6);
  background-color: rgba(163, 64, 97, 0.2);
  border-radius: 2px;
}

.table-row__jail_hidden {
  display: none;
}

@media (max-width: 992px) {
  .table-row__jail {
    padding: 2px 4px 2px 4px;
    margin: 0 4px 0 0;
    font-size: 10px;
  }
}

.table-row__warning {
  padding: 4px 6px 4px 6px;
  font-size: 12px;
  line-height: 100%;
  color: rgba(163, 64, 97, 0.6);
  background-color: rgba(163, 64, 97, 0.2);
  border-radius: 2px;
}

.table-row__warning_hidden {
  display: none;
}

@media (max-width: 992px) {
  .table-row__warning {
    padding: 2px 4px 2px 4px;
    margin: 0 4px 0 0;
    font-size: 10px;
  }
}

.table-row__voting-power {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 32px 8px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .table-row__voting-power {
    padding: 8px 24px 8px 24px;
  }
}

@media (max-width: 576px) {
  .table-row__voting-power {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
  }
}

@media (max-width: 480px) {
  .table-row__voting-power {
    display: none;
  }
}

.table-row__stake {
  margin: 0 0 4px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #646464;
}

.table-row__stake span {
  margin: 0 0 0 4px;
  font-weight: 400;
  font-size: 12px;
  color: #a0a0a0;
}

@media (max-width: 992px) {
  .table-row__stake {
    font-size: 14px;
  }
  .table-row__stake span {
    margin: 0 0 0 2px;
    font-size: 10px;
  }
}

.table-row__power {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #646464;
}

@media (max-width: 992px) {
  .table-row__power {
    font-size: 12px;
  }
}

.table-row__commission {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 32px 8px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #646464;
}

@media (max-width: 992px) {
  .table-row__commission {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .table-row__commission {
    padding: 8px 24px 8px 24px;
  }
}

@media (max-width: 576px) {
  .table-row__commission {
    display: none;
  }
}

.table-row__vp-adaptive {
  display: none;
  font-size: 12px;
  color: #646464;
}

.table-row__vp-adaptive span {
  margin: 0 0 0 2px;
  font-size: 10px;
  color: #a0a0a0;
}

@media (max-width: 480px) {
  .table-row__vp-adaptive {
    display: inline;
  }
}

.validator {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .validator {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 72px 0 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.validator__overlay {
  position: absolute;
  top: 0;
  letter-spacing: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(173, 216, 230, 0.5);
}

.validator__container {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  padding: 40px 160px 60px 32px;
  background-color: #fafafa;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .validator__container {
    max-width: 900px;
    padding: 40px 100px 60px 32px;
  }
}

@media (max-width: 992px) {
  .validator__container {
    max-width: calc(100% - 24px - 24px);
  }
}

@media (max-width: 768px) {
  .validator__container {
    padding: 32px 60px 48px 24px;
  }
}

@media (max-width: 576px) {
  .validator__container {
    padding: 24px 48px 40px 20px;
  }
}

@media (max-width: 480px) {
  .validator__container {
    max-width: calc(100% - 12px - 12px);
    padding: 16px 16px 28px 16px;
  }
}

.validator__close-button {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 48px;
  line-height: 100%;
  color: #464646;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .validator__close-button {
    top: 14px;
    right: 20px;
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .validator__close-button {
    top: 10px;
    right: 12px;
    font-size: 36px;
  }
}

.validator__card {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px calc(100% - 80px);
      grid-template-columns: 80px calc(100% - 80px);
  grid-column-gap: 20px;
  grid-row-gap: 32px;
}

@media (max-width: 768px) {
  .validator__card {
    -ms-grid-columns: 72px calc(100% - 72px);
        grid-template-columns: 72px calc(100% - 72px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media (max-width: 576px) {
  .validator__card {
    -ms-grid-columns: 60px calc(100% - 60px);
        grid-template-columns: 60px calc(100% - 60px);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

@media (max-width: 480px) {
  .validator__card {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-row-gap: 0;
  }
}

.validator__avatar {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .validator__avatar {
    width: 72px;
    height: 72px;
  }
}

@media (max-width: 576px) {
  .validator__avatar {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .validator__avatar {
    display: none;
  }
}

.validator__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.validator__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.validator__moniker {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  color: #464646;
}

@media (max-width: 992px) {
  .validator__moniker {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .validator__moniker {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .validator__moniker {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .validator__moniker {
    font-size: 16px;
  }
}

.validator__rank {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #bebebe;
  text-align: center;
}

@media (max-width: 768px) {
  .validator__rank {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .validator__rank {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .validator__rank {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 2px 4px 2px 4px;
    margin: 12px 0 8px 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    font-size: 12px;
    text-align: start;
    border: 1px solid #bebebe;
    border-radius: 4px;
  }
}

.validator__valoper {
  margin: 6px 0 6px 0;
  font-size: 16px;
  color: #464646;
}

@media (max-width: 768px) {
  .validator__valoper {
    margin: 4px 0 6px 0;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .validator__valoper {
    margin: 2px 0 4px 0;
    font-size: 10px;
  }
}

.validator__statuses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .validator__statuses {
    margin: 0 0 16px 0;
  }
}

.validator__activity {
  padding: 4px 8px 4px 8px;
  margin: 0 8px 0 0;
  font-size: 14px;
  line-height: 100%;
  color: rgba(13, 101, 115, 0.7);
  background-color: rgba(173, 216, 230, 0.4);
  border-radius: 4px;
}

.validator__activity_inactive {
  color: #a0a0a0;
  background-color: #dcdcdc;
}

@media (max-width: 768px) {
  .validator__activity {
    padding: 3px 6px 3px 6px;
    margin: 0 6px 0 0;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .validator__activity {
    padding: 2px 4px 2px 4px;
    margin: 0 4px 0 0;
    font-size: 10px;
  }
}

.validator__bond {
  padding: 4px 8px 4px 8px;
  margin: 0 8px 0 0;
  font-size: 14px;
  line-height: 100%;
  color: rgba(13, 101, 115, 0.7);
  background-color: rgba(173, 216, 230, 0.4);
  border-radius: 4px;
}

.validator__bond_unbonded {
  color: #a0a0a0;
  background-color: #dcdcdc;
}

.validator__bond_unbonding {
  color: #a19108;
  background-color: rgba(232, 196, 19, 0.3);
}

@media (max-width: 768px) {
  .validator__bond {
    padding: 3px 6px 3px 6px;
    margin: 0 6px 0 0;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .validator__bond {
    padding: 2px 4px 2px 4px;
    margin: 0 4px 0 0;
    font-size: 10px;
  }
}

.validator__jail {
  padding: 4px 8px 4px 8px;
  margin: 0 8px 0 0;
  font-size: 14px;
  line-height: 100%;
  color: rgba(163, 64, 97, 0.6);
  background-color: rgba(163, 64, 97, 0.2);
  border-radius: 4px;
}

.validator__jail_hidden {
  display: none;
}

@media (max-width: 768px) {
  .validator__jail {
    padding: 3px 6px 3px 6px;
    margin: 0 6px 0 0;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .validator__jail {
    padding: 2px 4px 2px 4px;
    margin: 0 4px 0 0;
    font-size: 10px;
  }
}

.validator__warning {
  padding: 4px 8px 4px 8px;
  font-size: 14px;
  line-height: 100%;
  color: rgba(163, 64, 97, 0.6);
  background-color: rgba(163, 64, 97, 0.2);
  border-radius: 4px;
}

.validator__warning_hidden {
  display: none;
}

@media (max-width: 768px) {
  .validator__warning {
    padding: 3px 6px 3px 6px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .validator__warning {
    padding: 2px 4px 2px 4px;
    font-size: 10px;
  }
}

.validator__data {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px calc(100% - 180px);
      grid-template-columns: 180px calc(100% - 180px);
  grid-row-gap: 10px;
}

@media (max-width: 768px) {
  .validator__data {
    -ms-grid-columns: 140px calc(100% - 140px);
        grid-template-columns: 140px calc(100% - 140px);
    grid-row-gap: 6px;
  }
}

@media (max-width: 576px) {
  .validator__data {
    -ms-grid-columns: 120px calc(100% - 120px);
        grid-template-columns: 120px calc(100% - 120px);
    grid-row-gap: 6px;
  }
}

@media (max-width: 480px) {
  .validator__data {
    -ms-grid-columns: 100px calc(100% - 120px);
        grid-template-columns: 100px calc(100% - 120px);
    grid-row-gap: 4px;
  }
}

.validator__data-heading {
  font-weight: 500;
  font-size: 16px;
  color: #464646;
}

@media (max-width: 768px) {
  .validator__data-heading {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .validator__data-heading {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .validator__data-heading {
    margin: 1px 0 0 0;
    font-size: 10px;
  }
}

.validator__data-text {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .validator__data-text {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .validator__data-text {
    font-size: 12px;
  }
}

.validator__denom {
  margin: 0 0 0 4px;
  font-size: 14px;
  color: #a0a0a0;
}

@media (max-width: 768px) {
  .validator__denom {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .validator__denom {
    font-size: 10px;
  }
}

.validator__data-link {
  font-weight: 400;
  font-size: 16px;
  color: #0d6573;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.validator__data-link:hover {
  color: #a34061;
}

@media (max-width: 768px) {
  .validator__data-link {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .validator__data-link {
    font-size: 12px;
  }
}

.proposals {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.proposals__heading {
  margin: 0 0 0 16px;
  font-weight: 700;
  font-size: 24px;
  color: #464646;
}

@media (max-width: 480px) {
  .proposals__heading {
    font-size: 20px;
  }
}

.proposals__note {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 50%;
  padding: 8px 16px 8px 16px;
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  color: #a34061;
  background-color: #dcdcdc;
  border: 1px solid #bebebe;
  border-radius: 8px;
}

.proposals__note span {
  font-weight: 700;
}

@media (max-width: 768px) {
  .proposals__note {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .proposals__note {
    font-size: 12px;
  }
}

.proposals__no-proposals {
  margin: 12px 0 0 16px;
  font-weight: 500;
  font-size: 16;
  color: #a34061;
}

.proposal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 20px 16px 24px 16px;
  margin: 12px 0 0 0;
  background-color: #fafafa;
  border-radius: 8px;
}

.proposal__title {
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: 18px;
  color: #464646;
}

@media (max-width: 480px) {
  .proposal__title {
    font-size: 16px;
  }
}

.proposal__data {
  margin: 0 0 4px 0;
  font-size: 14px;
}

.proposal__data span {
  font-weight: 600;
  color: #464646;
}

@media (max-width: 480px) {
  .proposal__data {
    font-size: 12px;
  }
}

.proposal__description {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  color: #464646;
}

@media (max-width: 480px) {
  .proposal__description {
    font-size: 12px;
  }
}
